<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/loginstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>

<main>
    <div class="wrapper">
        <form th:action="@{/saveWish}" th:object="${obj}" method="post">
            <input type="hidden" name="wishListID" th:value="${wishListID}" />
            <h1>Add a new Wish!</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Chocolate box" th:field="*{name}" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input type="text" name="price" placeholder="50.0" th:field="*{price}" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="text" name="urlLink" placeholder="www.sdadasd.sda" th:field="*{urlLink}" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>