<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/StyleSheets/customer-pageCSS.css">
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>


<main>

    <div class="Center">
        <h1>Welcome, <span th:text="${session.user.fullName}"></span>!</h1>
    </div>
    <div class="Center">
        <p>Your Wish, is our command</p>
    </div>

    <div class="containerCustomerPage text-center">
        <div class="product-list">
            <th:block th:each="wishLists : ${getAllWishLists}">
                <div class="empty">
                        <div class="boxCustomerPage">
                            <div class="textInBox">
                                <strong><p th:text="${wishLists.getName()}"></p></strong>
                            </div>
                            <div class="textInBox">
                                <p th:text="${wishLists.getDescription()}"></p>
                            </div>
                                <button class="btn-rosegold" th:href="@{/viewWishList/{wishListID}(wishListID=${wishLists.getWishListId()})}">Add a Wish</button>
                                <form th:action="@{/deleteWishList/{wishListID}(wishListID=${wishLists.getWishListId()})}" method="post">
                                    <button class="btn-rosegold" type="submit">Delete</button>
                                </form>
                        </div>
                </div>
            </th:block>
        </div>
    </div>


</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>

</body>
</html>