<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c2y4qWy+eLIDB1dKZd+ZCqLyw+gI8LT0hCwX7QJQ7h74TH0CO94Workh9Wg8qyNS1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/StyleSheets/customer-pageCSS.css">
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>


<main>
    <div class="banner">
        <h1>Welcome, <span th:text="${session.user.fullName}"></span>!</h1>
        <img src="" alt="">
    </div>


    <div class="containerCustomerPage text-center">
        <div class="product-list">
            <th:block th:each="wishLists : ${getAllWishLists}">
                <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="boxCustomerPage">
                            <div class="textInBox">
                                <strong><p th:text="${wishLists.getName()}"></p></strong>
                            </div>
                            <div class="textInBox">
                                <p th:text="${wishLists.getDescription()}"></p>
                            </div>
                                <button class="btn btn-rosegold" th:href="@{/viewWishList/{wishListID}(wishListID=${wishLists.getWishListId()})}">Add a Wish</button>

                        </div>
                </div>
            </th:block>
        </div>
    </div>


</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>