<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update-wish" method="post">
    <input type="hidden" name="wishId" th:value="${wish.wishId}" />
    <input type="hidden" name="wishListId" th:value="${wishListId}">

    <label for="wishName">Name:</label>
    <input type="text" id="wishName" name="name" th:value="${wish.name}" required />

    <label for="wishPrice">Price:</label>
    <input type="number" id="wishPrice" name="price" step="0.01" th:value="${wish.price}" required />

    <label for="wishLink">Link:</label>
    <input type="text" id="wishLink" name="urlLink" th:value="${wish.urlLink}" required />

    <button type="submit">Save Changes</button>
</form>

</body>
</html>