<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>

<main>
    <main>
              <div class="wrapper">
                <h1>Your Profile Data</h1>

                <div class="input-box">
                    <i class='bx bxs-user-plus'></i>
                    <p th:text="${obj.getFullName()}">John Doe</p>
                </div>

                <div class="input-box">
                    <p th:text="${obj.getMail()}">johndoe@example.com</p>
                </div>

                <div class="input-box">
                    <p th:text="${obj.getPassWord()}">********</p>
                </div>

                <form th:action="@{/deleteUser}" method="post">
                    <button type="submit">Delete Profile</button>
                </form>
            </div>

        </div>
    </main>


</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>