<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/viewWishListStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>

<main>
    <div class="banner">
        <div class="banner-text">
            <h1>Wishlist: <span th:text="${wishlist.name}"></span>!</h1>
        </div>
        <img src="/Images/gifts.jpg" alt="">
    </div>
    <div th:each="wish : ${getAllWishes}" class="wish-box">
            <h2 th:text="${wish.name}"></h2>
            <h2 th:text="${wish.price} + ' kr.'"></h2>
            <h2 th:text="'Link: ' + ${wish.urlLink}"></h2>
        <div class="icon-container">
            <form th:action="@{/edit-wish/{wishListId}/{wishId}(wishListId=${wishlist.wishListId}, wishId=${wish.wishId})}" method="get">
                <button class="icon-button" type="submit">
                    <i class='bx bx-message-square-edit'></i>
                </button>
            </form>
            <form th:action="@{/delete-wish/{wishListId}/{wishId}(wishListId=${wishlist.wishListId}, wishId=${wish.wishId})}" method="post">
                <button class="icon-button" type="submit">
                    <i class='bx bx-trash' ></i>
                </button>
            </form>
        </div>
    </div>

    <form th:action="@{/addWish/{wishListID}(wishListID=${wishlist.wishListId})}" method="get">
        <button class="btn" type="submit">Add Wish</button>
    </form>

</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>