<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>

<main>
    <div class="banner">
        <h1>Wishlist: <span th:text="${wishlist.name}"></span>!</h1>
        <img src="" alt="">
    </div>
    <div th:each="wish : ${getAllWishes}">
        <div class="wish-box">
            <p th:text="${wish.name}"></p>
            <p th:text="${wish.price}"></p>
            <p th:text="${wish.urlLink}"></p>
        </div>
    </div>
    <a th:href="@{/addWish/{wishListID}(wishListID=${wishlist.wishListId})}">Add Wish</a>
</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>