<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:replace="~{layoutLoggedIn :: header}"></header>

<main>
    <div class="banner">
        <h1>Welcome, <span th:text="${session.user.fullName}"></span>!</h1>
        <img src="" alt="">
    </div>
    <div th:each="wish : ${getAllWishes}">
        <div class="wish-box">
            <p th:text="${wish.name}"></p>
            <p th:test="${wish.price}"></p>
            <p th:text="${wish.urlLink}"></p>
        </div>
    </div>
    <a href="/addWish">Add a new Wish!</a>
</main>

<footer th:replace="~{layoutLoggedIn :: footer}"></footer>
</body>
</html>